extends layouts/main-layout.pug 

block styles 
    title #{pageTitle}
    link(rel="stylesheet", href="/css/product.css")

block content 
    main
        form.product-form(action="/admin/add-product" method="POST")
            div.form-control
                label(form="title") Title
                input(type="text" name="title")#title
            button.btn(type='submit') Add Product